# Kanzu API Configuration
KANZU_API_BASE_URL=http://localhost:8080
KANZU_API_USERNAME=admin
KANZU_API_PASSWORD=admin

# Server Configuration
PORT=1000

# Rafiki GraphQL Configuration
GRAPHQL_ENDPOINT=http://localhost:3011/graphql

# Authentication Configuration
AUTH_GRANT_DOMAIN=https://auth-grant.testlet.top
AUTH_ADMIN_DOMAIN=https://auth-admin.testlet.top
AUTH_ADMIN_API_KEY=supersecretkey
AUTH_DOMAIN=http://rafiki-auth:3009
AUTH_IDENTITY_SERVER_SECRET=replace-me

WALLET_BASE_URL=https://happy-life-bank-backend

# MoMo
MOMO_BASE_URL=http://localhost:8000
MOCK_MOMO_BASE_URL=http://localhost:8000